.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 10rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.card-actions {
    display: flex;
    gap: 1rem;
}

.new-card {
    @extend .card;
    justify-content: center;
    align-items: center;
    width: 5rem;
}