.navbar {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #454545;
    gap: 2rem;
    padding-inline: 2rem;
}