@use "navbar";
@use "container";
@use "card";

#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    height: 100vh;
}

body {
    margin: 0;
    // background-color: #000;

    a,
    text,
    #heading {
        // color: #c8ff00;
        text-decoration: none;
        // font-weight: 500;
    }
}